
@{
    ViewBag.Title = "Add Author";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }
</style>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="no_scroll" style="max-height: 700px; overflow: scroll; overflow-x: hidden; width: 100%; scroll-behavior: smooth; overflow-y: scroll; -ms-overflow-style: none;">
    <h2 class="mx-5 my-3">Add Author</h2>
    <div class="container col-xl-1 col-xxl-11 px-2 py35">
        <div class="row align-items-center border  p-4  bg-secondary mt-1" style="border-radius:15px;">
            @using (Html.BeginForm("AfterGenreUpdate", "Admin", FormMethod.Post))
            {
                <div class="d-flex">
                    <div class="" style="width:40vw;">
                        <div class="row ">
                            <div class="col-md-6">
                                <h4>Auhtor Details</h4>
                            </div>
                        </div>
                        <hr style="width:150px;" />
                        <div class="row g-3 mt-3">
                            <div class="col-2">
                                <label class="form-label" for="AuthorName">Author Name</label>
                            </div>
                            <div class="col">
                                @Html.TextBox("AuthorName", "", new { id = "AuthorName", placeholder = "Author Name", Class = "form-control" })
                            </div>
                        </div>

                        <div class="row mt-3">
                            <br />
                            <div class="col-2">
                                <label class="form-label" for="AuthorDes">Author Description</label>
                            </div>
                            <div class="col">
                                @Html.TextArea("AuthorDes", "", new { id = "AuthorDes", placeholder = "eg :- About The Author", Class = "form-control", rows = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                    </div>
                    <div class="row p-5 pt-5">
                        <div class="col float-start m-3">

                            @Html.TextBox("chooseimg", "", new { type = "file", Class = "form-control", id = "chooseimg" })
                            <div id="image" class="m-4 mx-auto"></div>
                        </div>
                    </div>
                </div>

                <script>
                    const input = document.getElementById('chooseimg');
                    const preview = document.getElementById('image');

                    input.addEventListener('change', function () {
                        if (input.files && input.files[0]) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                preview.style.backgroundImage = `url(${e.target.result})`;
                            };
                            reader.readAsDataURL(input.files[0]);
                        }
                    });

                </script>



                <div class="row mt-2">

                    <div class="col">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" style="width:150px;" data-bs-target="#staticBackdrop">
                            Add
                        </button>
                        <button type="button" onclick="window.location.href='Author';" class="btn btn-danger ms-3">Cancel</button>
                    </div>
                </div>


                if (ViewBag.Bool == true)
                {


                    <div class="mt-2" style="height:80px;">
                        <div class="alert d-flex alert-danger alert-dismissible fade show" role="alert">
                            <svg class="bi flex-shrink-0 me-2" height="30" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                Their is an error during the creation <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        </div>

                    </div>
                }
                else { }

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Confirmation</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>




