@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="max-height: 700px; overflow: scroll;overflow:hidden;width:100%;">
    <div>
        <div class="row">
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Visits</h5>
                        <hr />
                        <p class="card-text fs-2 float-end">0</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total User's</h5>
                        <hr />
                        <p class="card-text fs-2 float-end">@ViewData["TotalUser"].ToString()</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Books</h5>
                        <hr />
                        <p class="card-text fs-2 float-end">@ViewData["ToTalBooks"].ToString()</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Oerder Placed</h5>
                        <hr />
                        <p class="card-text fs-2 float-end">450</p>
                    </div>
                </div>
            </div>

        </div>
        <div>

        </div>
    </div>
</div>

